<div class="content-area">
  <div class="insurance-header">
    <div class="header-content">
      <div class="title-container">
        <button
          pButton
          icon="pi pi-arrow-left"
          [routerLink]="
            esDesdeRuta ? ['/contrataciones'] : ['/main-revision', contratoId]
          "
          class="p-button-outlined back-button"
          title="Volver"
        ></button>

        <div class="text-2xl text-white">Detalles y Acciones del Contrato</div>
      </div>
    </div>
  </div>
</div>
<div class="content-container">
  <p-accordion value="0">
    <p-accordion-panel value="0">
      <p-accordion-header>Resumen del Contrato</p-accordion-header>
      <p-accordion-content>
        <app-resumen [contratoId]="contratoId"></app-resumen>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1" *ngIf="clientId">
      <p-accordion-header>Carga de Documentos</p-accordion-header>
      <p-accordion-content>
        <app-documentacion
          [clienteId]="clientId"
          [clientAttachments]="attatchments"
          [contratoId]="contratoId"
          [documentosAprobados]="
            contractInfo?.stepStatuses?.[contractStep.DOCUMENT_APPROVAL] ??
            false
          "
        ></app-documentacion>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>Pagos</p-accordion-header>
      <p-accordion-content>
        <app-payments [contratoId]="contratoId"></app-payments>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>

<div class="content-area"></div>
