<div class="menu-container">
  <div class="menu-items">
    <div *ngFor="let menu of listMenu" class="menu-item">
      <a
        [routerLink]="menu.url"
        class="menu-button"
        [class.active]="menu.url === currentUrl"
      >
        <i
          [class]="menu.icon"
          style="
            margin-right: 8px;
            font-size: 1rem;
            width: 20px;
            text-align: center;
          "
        ></i>
        <span>{{ menu.title }}</span>
      </a>
    </div>
  </div>
</div>
