<p-toast></p-toast>
<div class="document-upload-container">
    <p-card header="" class="card-documentacion">
        <p-message *ngIf="showSaveWarning" severity="warn"
            text="¡Recuerda guardar los cambios después de agregar nuevos documentos!" class="mb-4"></p-message>
        <p-fileupload #fileUpload name="myfile[]" [customUpload]="true" accept=".pdf,.jpg,.jpeg,.png"
            [maxFileSize]="5000000" [multiple]="true" (onSelect)="onSelectedFiles($event)" [files]="pendingFiles">
            <ng-template #header let-files let-chooseCallback="chooseCallback">
                <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                    <div class="flex gap-2">
                        <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true"
                            [outlined]="true" label="Seleccionar" />
                    </div>
                </div>
            </ng-template>
            <ng-template #content let-files let-uploadedFiles="completedFiles">
                <div class="flex flex-col gap-8 pt-4">
                    <div *ngIf="(completedFiles?.length || 0) > 0">
                        <div class="flex gap-4">
                            <div *ngFor="let doc of completedFiles; let i = index"
                                class="card m-0 px-6 flex flex-col border border-surface items-center gap-2">
                                <div>
                                    <img role="presentation" [alt]="doc.name" [src]="getFilePreviewUrl(doc)" width="50"
                                        height="50" *ngIf="doc.type === 'image'" />
                                    <i class="pi pi-file-pdf text-3xl" *ngIf="doc.type === 'pdf'"></i>
                                </div>
                                <span
                                    class="font-semibold text-ellipsis max-w-40 whitespace-nowrap overflow-hidden text-sm">{{
                                    doc.name }}</span>
                                <div class="text-xs">{{ formatSize(doc.size * 1024) }}</div>
                                <p-badge
                                    [value]="doc.attachmentType === 'IDENTIFICATION' ? 'Identificación' : 'Foto'"
                                    class="mt-2" severity="success" styleClass="text-xs" />
                                <div class="flex gap-1">
                                    <p-button icon="pi pi-eye" (click)="verDocumento(doc)" [outlined]="true"
                                        [rounded]="true" severity="info" styleClass="p-button-sm" />
                                    <p-button icon="pi pi-times" (click)="removeCompletedFile(i)" [outlined]="true"
                                        [rounded]="true" severity="danger" styleClass="p-button-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #file></ng-template>
        </p-fileupload>
        <div class="actions">
            <button pButton label="Guardar documentos" icon="pi pi-save" class="save-btn"
                [disabled]="completedFiles.length === 0 || completedFiles.length > 2" (click)="guardar()"></button>
        </div>
    </p-card>
</div>